In [1]:
import get_events_from_snirf

In [2]:
get_events_from_snirf.get_events_from_snirf('data_hojjat/dec_nef/1_new_full/test_001_S001_232eefe_5.snirf')

In [3]:
get_events_from_snirf.get_events_from_snirf('data_hojjat/test_001_S001_e8e57fa_3.snirf')

,Timestamp,Event,Duration,Value,Experiment,Test,TrialStart,TrialEnd
0,33.469378,StartExperiment,182.265113,1.0,5.0,5,5,5
1,203.651619,Test,0.000000,1.0,5.0,5,5,5
2,209.791770,Test,0.000000,1.0,5.0,5,5,5
3,215.734491,Test,0.000000,1.0,5.0,5,5,5

In [ ]:
get_events_from_snirf.get_events_from_snirf('data_hojjat/test_001_S001_f6cb9a6_5.snirf')

In [ ]:
from time import sleep

In [ ]:
sleep(10)

In [ ]:
get_events_from_snirf.get_events_from_snirf('data_hojjat/at/at6.snirf')

In [ ]:
get_events_from_snirf.get_events_from_snirf('data_hojjat/at/at8.snirf')

In [3]:
df = get_events_from_snirf.get_events_from_snirf('data_hojjat/dec_nef/test_001_S001_4e1faca_3.snirf')

In [4]:
df.head()

   Timestamp            Event    Duration  Value  Experiment          Stim
0  38.175529  StartExperiment  571.923704    1.0         1.0           NaN
1  38.214719             Stim    0.000000    1.0         1.0   Bee-715.Png
2  39.165396             Stim    0.000000    1.0         1.0   Bee-718.Png
3  40.132654             Stim    0.000000    1.0         1.0   Bee-712.Png
4  41.083535             Stim    0.000000    1.0         1.0  Bee-7112.Png

In [23]:
df['lable'] = [str(x)[: int(str(x).find('-'))] for x in df.Stim]

In [24]:
df

,Timestamp,Event,Duration,Value,Experiment,Stim,lable
0,38.175529,StartExperiment,571.923704,1.0,1.0,NaN,na
1,38.214719,Stim,0.000000,1.0,1.0,Bee-715.Png,Bee
2,39.165396,Stim,0.000000,1.0,1.0,Bee-718.Png,Bee
3,40.132654,Stim,0.000000,1.0,1.0,Bee-712.Png,Bee
4,41.083535,Stim,0.000000,1.0,1.0,Bee-7112.Png,Bee
...,...,...,...,...,...,...,...
596,605.377680,Stim,0.000000,1.0,1.0,GuineaPig-25115.Png,GuineaPig
597,606.328400,Stim,0.000000,1.0,1.0,Frog-2112.Png,Frog
598,607.279218,Stim,0.000000,1.0,1.0,Frog-2113.Png,Frog
599,608.229906,Stim,0.000000,1.0,1.0,Frog-2114.Png,Frog
600,609.180682,Stim,0.000000,1.0,1.0,Frog-2115.Png,Frog

In [36]:
df['Sample'] = [round(x * 7.14) for x in df.Timestamp ]

In [38]:
df

,Timestamp,Event,Duration,Value,Experiment,Stim,lable,Sample
0,38.175529,StartExperiment,571.923704,1.0,1.0,NaN,na,273
1,38.214719,Stim,0.000000,1.0,1.0,Bee-715.Png,Bee,273
2,39.165396,Stim,0.000000,1.0,1.0,Bee-718.Png,Bee,280
3,40.132654,Stim,0.000000,1.0,1.0,Bee-712.Png,Bee,287
4,41.083535,Stim,0.000000,1.0,1.0,Bee-7112.Png,Bee,293
...,...,...,...,...,...,...,...,...
596,605.377680,Stim,0.000000,1.0,1.0,GuineaPig-25115.Png,GuineaPig,4322
597,606.328400,Stim,0.000000,1.0,1.0,Frog-2112.Png,Frog,4329
598,607.279218,Stim,0.000000,1.0,1.0,Frog-2113.Png,Frog,4336
599,608.229906,Stim,0.000000,1.0,1.0,Frog-2114.Png,Frog,4343
600,609.180682,Stim,0.000000,1.0,1.0,Frog-2115.Png,Frog,4350

In [46]:
df[df['lable'] == 'Bat']['Sample'].values

array([3058, 3064, 3071, 3078, 3085, 3091, 3561, 3567, 3880, 3887, 3894,
       4173, 4179, 4186, 4193])